name: Announce blog posts

on:
  push:
    branches: [main]
    paths:
      - "src/content/posts/**"
      - "content/posts/**"
  workflow_dispatch: {}

jobs:
  announce:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontmatter parser
        run: npm i gray-matter

      - name: Announce changed posts
        env:
          ENDPOINT: ${{ secrets.ANNOUNCER_ENDPOINT }}
          SECRET: ${{ secrets.ANNOUNCER_SECRET }}
          SITE_BASE_URL: ${{ secrets.SITE_BASE_URL }}

          BLOG_CONTENT_DIR_1: "src/content/posts"
          BLOG_CONTENT_DIR_2: "content/posts"
          PUBLIC_BLOG_PREFIX: "/blog"

          GITHUB_BEFORE: ${{ github.event.before }}
          GITHUB_SHA: ${{ github.sha }}
        run: node .github/scripts/announce-blog.js
